version: '3.8'

services:
  app:
    image: php:8.1-fpm
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - laravel_network
    environment:
      - PHP_INI_SCAN_DIR=/etc/php/8.1/fpm/conf.d  # Usar PHP 8.1
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8000:80"  # Mapea el puerto 80 de nginx al 8000 de tu máquina
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf  # Copia la configuración de nginx personalizada
      - .:/var/www  # Monta tu aplicación Laravel en el contenedor
    networks:
      - laravel_network
    depends_on:
      - app

  db:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge

volumes:
  mysql_data:
